*{
  background-color: black;
  cursor: context-menu;
  overflow: hidden;
}
#transition{
  height: 1080px;
  position: absolute;
  width: 1920px;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:ital,wght@1,300&display=swap');
a:visited{
  color: black
}
body{
  margin: 0px;
  height: 100vh;
}
#message {
  color: white;
  font-size: 23px;
  
}
#continue {
  color: white;
  font-size: 23px;
  
}
.wrapper {
  
  float: left;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  font-family: 'Fira Mono';
}

.typing-demo {
  width: 30ch;
  animation: typing 2s steps(60), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Fira Mono';
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    



#typing {
  
  opacity: 0;
  animation: blinking 0.9s linear infinite;
  
}


@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
