@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/* font-family: 'PT Sans', sans-serif; */

body {
    background-color: black;
    overflow: hidden;
}
#hit:hover{
  font-size: 50px;
}

#particles-js {
    width: 100% !important;
    height: 3000px !important;
    position: relative;
    cursor: ponter;


}
h1 {
    position: absolute;
    color: white;
    margin-top: 450px;
    margin-left: 700px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    transition-timing-function: ease-in;

    transition: all,4s;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


@media only screen and (max-width: 4440px){
  h1 {
      margin-top: 600px;
      margin-left: 1500px;
     
  }


}
@media only screen and (max-width: 1440px){
  h1 {
      margin-top: 600px;
      margin-left: 300px;
     
  }


}
@media only screen and (max-width: 1080px){
  h1 {
      margin-top: 600px;
      margin-left: 200px;
     
  }


}



@media only screen and (max-width: 1360px){
    h1 {
        
        margin-left: 500px;
    }


}
@media only screen and (max-width: 2085px){
  h1 {
      
      margin-left: 500px;
  }


}
@media only screen and (max-width: 885px){
  h1 {
      
      margin-left: 100px;
  }


}


    @media only screen and (max-width: 1060px){
        h1 {
            margin-left: 300px;
        }

    }
    @media only screen and (max-width: 800px){
h1 {
    font-size: 30px;
    margin-left: 50px;
}
    }
    @media only screen and (max-width: 350px){
h1 {
    font-weight: 100;
}
.glitch {
    font-size: 10px;
}
    }

    .glitch {
        font-size: 8rem;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        font-size: 50px;
      
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
          -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
          0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
      
        animation: glitch 500ms infinite;
      }
      
      .glitch span {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .glitch span:first-child {
        animation: glitch 650ms infinite;
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(-0.025em, -0.0125em);
        /* color: green; */
        opacity: 0.8;
      }
      
      .glitch span:last-child {
        animation: glitch 375ms infinite;
        clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
        transform: translate(0.0125em, 0.025em);
        /* color: red; */
        opacity: 0.8;
      }
      
      /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
      
      @keyframes glitch {
        0% {
          text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
        }
        14% {
          text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
        }
        15% {
          text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        49% {
          text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        50% {
          text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        99% {
          text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        100% {
          text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
        }
      }
      
      @media (prefers-reduced-motion: reduce) {
        *,
        ::before,
        ::after {
          animation-delay: -1ms !important;
          animation-duration: 1ms !important;
          animation-iteration-count: 1 !important;
          background-attachment: initial !important;
          scroll-behavior: auto !important;
          transition-duration: 0s !important;
          transition-delay: 0s !important;
        }
      }
      