nav {
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    height: 100px;
    left: 0;
    opacity: 1;
    transition: all,0.4s ;
    border-bottom-style: solid;
    border-bottom-color: #333;
    z-index: 1;
    overflow: auto;
}
nav a{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 35px;
    height: 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Oxygen', sans-serif;
    padding-right: 50px;
    padding-left: 25px;
    transition: 0.5s;
    overflow: hidden;
}
nav img{ /* Logo*/
    padding-top: 26px;
    float: right;
    padding-right: 30px;
}
#p1{
    position: relative;
}
#p2{
    position: relative
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
#CHAIN1{ /* Changing where the CHAIN1 div is */
    padding-top: 150px;
    padding-left: 65px;
}
#CHAIN1 p{ /* Editing the text under the first chain photo */
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
#sep{
    background-color: black;
    width: 100%;
    left: 0;
    right: 0;
    height: 1px;
}
#sep h1{
    opacity: 0;
}
#CHAIN2{
    padding-top: 25px;
    padding-left: 65px; /* when adding more images keep the padding the same to make sure that the image is in line with the other ones */
}
#CHAIN2 p{
    font-family: 'Roboto', sans-serif; /* same as chain1p maintain the same styles for the descriptions */
    font-weight: bolder;
}
#copyright{
    font-size: 10px;
    font-weight: bolder;
}
@media screen and (min-width: 500px) { 
    #CHAIN1{
        padding-left: 130px;
    }
    #CHAIN2{
        padding-left: 130px;
    }
}
@media screen and (min-width: 600px) {
    #CHAIN1{
    padding-left: 180px;
    }
    #CHAIN2{
    padding-left: 180px;
    }
}
@media screen and (min-width: 700px) {
    #CHAIN1{
    padding-left: 230px;
    }
    #CHAIN2{
    padding-left: 230px;
    }
}
@media screen and (min-width: 800px) {
    #CHAIN1{
    padding-left: 280px;
    }
    #CHAIN2{
    padding-left: 280px;
    }
}
@media screen and (min-width: 900px) {
    #CHAIN1{
    padding-left: 330px;
    }
    #CHAIN2{
    padding-left: 330px;
    }
}
@media screen and (min-width: 1000px) {
    #CHAIN1{
    padding-left: 380px;
    }
    #CHAIN2{
    padding-left: 380px;
    }
}
@media screen and (min-width: 1800px) {
    #CHAIN1{
    padding-left: 50px;
    }
    #CHAIN2{
    padding-left: 1500px;
    position: relative;
    margin-top: -500px;
    }
    #copyright{
    position: absolute; 
    bottom: 5px; 
    }
    nav img{
        width: 80px;
        padding-top: 20px;
    }
    nav{
        overflow: hidden;
    }
}