body {
    margin: 0;
    background-color: #f1f1f1;
    
  }
  
  #navbar {
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    height: 100px;
    opacity: 1;
    transition: all,0.4s ;
    border-bottom-style: solid;
    border-bottom-color: #333;
    z-index: 1;
    
    
    
    
    
  }
  #navbar:hover{
    background-color: #333;
    border-bottom-color: #f1f1f1;
  }
  #navbar:hover a{
    color: #f1f1f1;
    
    
  }
  #navbar:hover li{
    background-color: #f1f1f1
  }
  @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
  #navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    height: 40px;
    text-decoration: none;
    
    font-size: 17px;
    font-family: 'Oxygen', sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    transition: 0.5s;
    
    
    
  }
  #logo{
    height: 70px;
    padding: 10px;
    width: 90px;
    float: right;
  }

   

  
#particles-js{
    height: 100vh;
    width: 100%;
    
}
#footer{
  background-color: #333;
  bottom: 600px;
  height: 1000px;
  width: 100%;
  margin-top: -1300px;
  
  
  transition: all 1.3s;
  bottom: -1000px;
}
#images {
  transform: scale(0.66);
  height: 480px;
  width: 480px;
  margin-top: 200px;
  margin-left: 25px;

  transition: all, 1s;
  
  
  
  
  
}
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Manrope:wght@600&family=Nunito:wght@200&display=swap');
#images p{
  font-size: 20px;
  float: right;
  margin-top: -480px;
  position: absolute;
  margin-left: 500px;
  white-space: nowrap;
  opacity: 0;
  transition: all, 0.5s;
  font-family: 'Nunito', sans-serif;

}
#images:hover p{
  opacity: 1;
}
#images h1{
  position: absolute;
  margin-top: -480px;
  padding-left: 180px;
  opacity: 0;
  transition: all, 0.5s;
}

#images:hover h1{
  opacity: 1;
  
}
#images:hover {
  transform: scale(0.7);

  

}
#images:hover img{
  -webkit-box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
  box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
}
#CHAIN1:hover{

  transition: all,0.5s;
  transform: scale(1);
}
#CHAIN1{
  border: 10px solid #333;
  border-radius: 10px;
  transition: all,0.5s;
}




#footer p{
  transition: all 2s;
  opacity: 0;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#text2{
  background-image: linear-gradient(#f2f2f2, #333);
  position: relative;
  height: 300px;
  bottom: 1300px;
  width: 100%;
  margin-top: 500px;
}

html {
  scroll-behavior: smooth;
}
#images2 {
  margin-right: 25px;
  float: right;
  transform: scale(0.66);
  height: 480px;
  width: 480px;
  margin-top: -500px;
  margin-left: 50px;
  
  transition: all, 0.5s;
}
#images2:hover{
  transform: scale(0.7);
}
#images2:hover img{
  -webkit-box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
  box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
}
#CHAIN2{
  border: 10px solid #333;
  border-radius: 10px;
  transition: all,0.5s;
}
#CHAIN2:hover{
  -webkit-box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
  box-shadow: -29px 35px 5px -3px rgba(0,0,0,0.75);
  transition: 0.5s;
  transform: scale(1);
}
#images2 p{
  
  font-size: 20px;
  margin-top: -480px;
  white-space: nowrap;
  opacity: 0;
  transition: all, 1s;
  font-family: 'Nunito', sans-serif;
  margin-left: -450px;
  
}
#images2:hover p{
  opacity: 1;
  
  
}
#images2 p{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;   };
