body {
    margin: 0;
    background-color: #f1f1f1;
    
  }
  
  #navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    height: 100px
    
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    height: 40px;
    text-decoration: none;
    
    font-size: 17px;
    font-family: 'Oxygen', sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    transition: 0.5s;
    
    
    
  }
 #navbar a:hover{
    background-color: #f2f2f2;
    color: #333;
 }
   

  
#particles-js{
    height: 150vh;
    width: 100%;
    
}
#footer{
  background-color: #333;
  bottom: 600px;
  height: 1000px;
  width: 100%;
  margin-top: -1300px;
  
  
  transition: all 1.3s;
  bottom: -1000px;
}


#footer p{
  transition: all 2s;
  opacity: 0;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#text2{
  background-image: linear-gradient(#f2f2f2, #333);
  position: relative;
  height: 300px;
  bottom: 1300px;
  width: 100%;
  margin-top: 500px;
}

html {
  scroll-behavior: smooth;
}